.contentForm {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #efdee2;
  gap: 20px;
  padding: 0 20px;
  border-radius: 13px;
  margin-bottom: 25px;
}

.input {
  display: flex;
  border-radius: 13px;
  width: 100%;
  height: 51px;
  background-color: transparent;  
}

.input:focus {
  outline: none;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
  border-radius: 6px;
  background: #13111c;
  /* padding: 5px; */
  width: 54px;
  height: 36px;
}

.button:hover{
    background: #13111fe8;
}
